/Funkce/build/
/Funkce/dist/
/Funkce/nbproject/private/
/files/nbproject/private/
/files/build/
/files/dist/
/functions/nbproject/private/
/streams2/nbproject/private/
/JavaApplication13/nbproject/private/
/streams/nbproject/private/