/files/nbproject/private/
/files/build/
/files/dist/
/functions/nbproject/private/
/functions/build/
/functions/dist/
/streams/nbproject/private/
/streams/build/
/streams/dist/
/threads/nbproject/private/
/threads/build/
/threads/dist/
/sockets/nbproject/private/
/sockets/build/
/sockets/dist/
/semafor/nbproject/private/
/semafor/build/
/semafor/dist/
/database/nbproject/private/
/database/build/
/database/dist/